<%= form_with model: person do |form| %>
  
  <%= render partial: 'error', locals: {person: person} %>

  <%= form.fields_for :detail, id: "people_details" do |detail_form| %>

    <div class="field">
      <%= detail_form.label :title %>
      <%= detail_form.text_field :title %>

      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= detail_form.label :email %>
      <%= detail_form.text_field :email %>
    </div>

    <div class="field">
      <%= detail_form.label :age %>
      <%= detail_form.text_field :age %>
    </div>

    <div class="field">
      <%= detail_form.label :phone %>
      <%= detail_form.text_field :phone %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>

<%= button_to 'Cancel', people_path, method: :get %>
  